.my-footer {
    background-color: rgb(60, 60, 60);
    color: white;
    margin-top: 2em;
    height: 3em;
    padding: 0.5em;
}

.notie-container {
  box-shadow: none;
}

.search-form {
  max-width: 95%;
}

.datepicker {
  z-index: 100000;
}

.room-image {
    max-width: 50%;
    margin-top: 1em;
}